@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --text: #070901;
    --background: #d5fbea;
    --primary: #3aee9d;
    --secondary: #a6f7d3;
    --accent: #11c071;
  }
  .dark {
    --text: #f6fefb;
    --background: #042a19;
    --primary: #11c574;
    --secondary: #085935;
    --accent: #3fee9f;
  }
}
